
<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="this.router.navigate(['edit/0']);">Nueva tarjeta</button>
    <button mat-menu-item (click)="this.router.navigate(['list']);">Lista de tarjetas</button>
  </mat-menu>
  
  <mat-toolbar class="cabecera">  
    <mat-toolbar-row>
      <button mat-flat-button aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="appMenu">
        Menú
      </button>
      <span class="example-spacer"></span>
      <a href="https://www.crtm.es/">
        <img class="logo_CRTM" src="../../assets/logo_crtm.png" alt="Logo CRTM">
      </a>
      
    </mat-toolbar-row>
  </mat-toolbar>

  <span style="font-size:30px;">Menú principal</span>

<div class="btn-group">
  <button  mat-menu-item (click)="this.router.navigate(['edit/0']);">Horarios</button>
  <button  mat-menu-item (click)="this.router.navigate(['list']);">Calcular Ruta</button>
  <button  mat-menu-item (click)="this.router.navigate(['list']);">Notificaciones</button>
  <button  mat-menu-item (click)="this.router.navigate(['list']);">Mapas</button>
</div>
<button class="bigButton" mat-menu-item (click)="this.router.navigate(['list']);">Recargar Tarjeta</button>
<button class="roundButton" mat-menu-item (click)="this.router.navigate(['list']);">QR NFC</button>
