<mat-menu #appMenu="matMenu" class="menu_lateral">
  <button mat-menu-item (click)="this.router.navigate(['']);">
    Notificaciones
    <mat-icon color="primary" [matBadge]="1" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>
  </button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Calcular trayectos</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Ver rutas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['list']);">Ver tarjetas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['lectura']);">Recargar Tarjeta</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Incidencias</button>
  <button mat-menu-item onclick="window.location='https://www.crtm.es/atencion-al-cliente/gestiones/oficinas-de-gestion.aspx'">Sedes CRTM</button>
  <button mat-menu-item onclick="window.location='https://www.crtm.es/atencion-al-cliente.aspx'">Ayuda</button>
  <button mat-menu-item onclick="window.location='https://www.crtm.es/proteccion-de-datos/'">Privacidad y Protección de datos</button>
</mat-menu>
  
<mat-toolbar class="cabecera">  
  <mat-toolbar-row class="space-between" >
    <div class="align-center">
      <button mat-flat-button aria-label="Menu" class="menu_button" [matMenuTriggerFor]="appMenu">
        Menú
      </button>
      <span> </span>
      <button class="transparent border-none">
        <img class="user_icon" src="../assets/user-icon.svg" alt="Icono Perfil">
      </button>
    </div>
              
    <a href="https://www.crtm.es/">
      <img class="logo_CRTM" src="../assets/logo_crtm.png" alt="Logo CRTM">
    </a>
      
  </mat-toolbar-row>
</mat-toolbar>

<div style="margin-top:30px;font-size:30px;" fxLayout="row" fxLayoutAlign="center">
  <p class="titulo-ventana">Menú principal</p>
</div>

<div class="btn-group">
  <button mat-menu-item class="space-between borde_curvo" (click)="this.router.navigate(['']);">
    Horarios
    <img class="main-icon" src="../../assets/horario-icon.svg" alt="horario-icon">
  </button>

  <button mat-menu-item class="space-between borde_curvo" (click)="this.router.navigate(['']);">
    Calcular trayecto
    <img class="main-icon" src="../../assets/ruta-icon.svg" alt="ruta-icon">
  </button>

  <button mat-menu-item class="space-between borde_curvo" (click)="this.router.navigate(['']);">
    Incidencias
    <img class="main-icon" src="../../assets/incidencia-icon.svg" alt="incidencia-icon">
  </button>

  <button mat-menu-item class="space-between borde_curvo" (click)="this.router.navigate(['']);">
    Planos
    <img class="main-icon" src="../../assets/plano-icon.svg" alt="plano-icon">
  </button>
</div>

<button class="bigButton borde_curvo" mat-menu-item (click)="this.router.navigate(['lectura']);">Recargar Tarjeta</button>

<button class="roundButton" (click)="this.router.navigate(['lectura']);">
  <img class="card_icon" src="../../assets/card-icon.svg" alt="Icono Home">
</button>

<mat-toolbar class="footer">
  CRTM - Todos los derechos reservados 2021 &copy;
  <mat-toolbar-row class="space-around" >
    <a href="https://www.renfe.com/es/es/cercanias/cercanias-madrid">
      <img src="../../assets/cercanias-icon.png" alt="Cercanias Renfe">
    </a>
    <a href="https://www.metromadrid.es/es">
      <img src="../../assets/metro-icon.png" alt="Metro">
    </a>
    <a href="https://www.crtm.es/">
      <img src="../../assets/logo_crtm.png" alt="Logo CRTM">
    </a>
    <a href="https://www.emtmadrid.es/Hom">
      <img src="../../assets/bus-icon.svg" alt="Bus">
    </a>
    <a href="https://www.metroligero-oeste.es/">
      <img src="../../assets/metroligero-icon.png" alt="Metro Ligero">
    </a>
  </mat-toolbar-row>
</mat-toolbar>
