<mat-menu #appMenu="matMenu" class="menu_lateral">
  <button mat-menu-item (click)="this.router.navigate(['']);">
    Notificaciones
    <mat-icon color="primary" [matBadge]="1" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>
  </button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Calcular trayectos</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Ver rutas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['list']);">Ver tarjetas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['lectura']);">Recargar Tarjeta</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Incidencias</button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/atencion-al-cliente/gestiones/oficinas-de-gestion.aspx">Sedes CRTM</a>
  </button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/media/314733/oficinasgestionttp.pdf">Ayuda</a>
  </button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/proteccion-de-datos/">Privacidad y Protección de datos</a>
  </button>
</mat-menu>
  
  <mat-toolbar class="cabecera">  
    <mat-toolbar-row class="space-between" >
      <div class="align-center">
        <button mat-flat-button aria-label="Menu" class="menu_button" [matMenuTriggerFor]="appMenu">
          Menú
        </button>
        <span> </span>
        <button class="transparent border-none">
          <img class="user_icon" src="../../assets/user-icon.svg" alt="Icono Perfil">
        </button>
      </div>
        
        <button  class="transparent border-none" (click)="this.router.navigate(['']);">
          <img class="home_icon" src="../../assets/home-icon.svg" alt="Icono Home">
        </button>
        
        <a href="https://www.crtm.es/">
          <img class="logo_CRTM" src="../../assets/logo_crtm.png" alt="Logo CRTM">
        </a>
        
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="margin-top:30px;font-size:30px;" fxLayout="row" fxLayoutAlign="center">
    <p class="titulo-ventana">Compra de viajes</p>
  </div>


<div class="btn-group">
  <button mat-menu-item class="space-between" (click)="this.router.navigate(['pago']);">
    Billete Sencillo - 1.50€
    <img class="main-icon" src="../../assets/metro-icon.png" alt="horario-icon">
  </button>

  <button mat-menu-item class="space-between" (click)="this.router.navigate(['pago']);">
    Billete Metrobus 10 viajes
    <img class="main-icon" src="../../assets/metro-icon.png" alt="ruta-icon">
  </button>

  <button mat-menu-item class="space-between" (click)="this.router.navigate(['pago']);">
    Viaje autobús - 1.50€
    <img class="main-icon bus-icon" src="../../assets/bus-icon.svg" alt="horario-icon">
  </button>

  <button mat-menu-item class="space-between" (click)="this.router.navigate(['pago']);">
    Cercanías Renfe 
    <img class="main-icon" src="../../assets/renfe-icon.png" alt="incidencia-icon">
  </button>

  <button mat-menu-item class="space-between" (click)="this.router.navigate(['pago']);">
    Recarga Tarjeta TTP
    <img class="main-icon" src="../../assets/logo_crtm.png" alt="plano-icon">
  </button>
</div>





<button class="roundButton" (click)="this.router.navigate(['lectura']);">
    <img class="card_icon" src="../../assets/card-icon.svg" alt="Icono Card">
  </button>

  