<mat-menu #appMenu="matMenu" class="menu_lateral">
  <button mat-menu-item (click)="this.router.navigate(['']);">
    Notificaciones
    <mat-icon color="primary" [matBadge]="1" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>
  </button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Calcular trayectos</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Ver rutas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['list']);">Ver tarjetas guardadas</button>
  <button mat-menu-item (click)="this.router.navigate(['lectura']);">Recargar Tarjeta</button>
  <button mat-menu-item (click)="this.router.navigate(['']);">Incidencias</button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/atencion-al-cliente/gestiones/oficinas-de-gestion.aspx">Sedes CRTM</a>
  </button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/media/314733/oficinasgestionttp.pdf">Ayuda</a>
  </button>
  <button mat-menu-item>
    <a href="https://www.crtm.es/proteccion-de-datos/">Privacidad y Protección de datos</a>
  </button>
</mat-menu>
  
  <mat-toolbar class="cabecera">  
    <mat-toolbar-row class="space-between" >
      <div class="align-center">
        <button mat-flat-button aria-label="Menu" class="menu_button" [matMenuTriggerFor]="appMenu">
          Menú
        </button>
        <span> </span>
        <button class="transparent border-none">
          <img class="user_icon" src="../../assets/user-icon.svg" alt="Icono Perfil">
        </button>
      </div>
        
        
        <button  class="transparent border-none" (click)="this.router.navigate(['']);">
          <img class="home_icon" src="../../assets/home-icon.svg" alt="Icono Home">
        </button>
        
        <a href="https://www.crtm.es/">
          <img class="logo_CRTM" src="../../assets/logo_crtm.png" alt="Logo CRTM">
        </a>
        
    </mat-toolbar-row>
  </mat-toolbar>

  <div style="margin-top:30px;font-size:30px;" fxLayout="row" fxLayoutAlign="center">
    <p class="titulo-ventana">Lectura de Tarjeta</p>
  </div>

  <div class="half" fxLayout="row wrap" fxLayoutGap = "30px" fxLayout="flexsraer">
    <div fxFlex="0 1 calc(50%-32px)">
      <p> Acerque la tarjeta al móvil para leer la tarjeta</p>
      <img src= "../../assets/contactless.gif" alt= "Pago NFC">
    </div>
    <div fxLayout = "column" fxFlex="0 1 calc(50%-32px)">
      
      <p> Seleccione entre las tarjetas guardadas: </p>
      <mat-form-field fxFlex="25">
        <mat-label>Número de tarjeta</mat-label>
        <mat-select name="tarjeta" [(ngModel)]="search_tarjeta">
          <mat-option *ngFor="let tarjeta of getTarjetas();let i=index" [value]="tarjeta">
            {{tarjeta}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxLayout = "row">
        <mat-card>
          <img mat-card-image src={{getTarjeta(verTarjeta(search_tarjeta))}} alt={{getTipo(verTarjeta(search_tarjeta))}}>
        </mat-card>
        <mat-card>
          <mat-card-content>{{verTarjeta(search_tarjeta).nombre}}</mat-card-content>
          <mat-card-content>{{verTarjeta(search_tarjeta).caducidad | date: "MM-yyyy"}}</mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
  
  <button class="bigButton" mat-menu-item (click)="this.router.navigate(['seleccion-viajes']);">Seleccionar tarjeta</button>
