$color_corporativo: #02337c;
.half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  /* Column Gap */
  .div > * {
    box-sizing: border-box;
  }
    div > *:not(:last-child) {
    margin-right: 32px;
  }
  /* Item sizing */
  .div {
    flex: 0 1 calc(50% - 32px);
  }
 
  /* small size viewport */
  @media screen and (max-width: 599px) {
    .half {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    div > *:not(:last-child) {
      margin-right: unset;
      margin-bottom: 32px;
    }
  }

  .bigButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_corporativo;
    border: 1px solid rgb(0, 0, 0); 
    color: rgb(255, 255, 255); 
    margin: 30px auto;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    height: 60px;
    font-size: larger;
  }
  
  .bigButton:hover{
    background-color: #3159db;
  }